@font-face {
  font-family: "SteelfishRg-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/5d62163ac3e6c75246db4fd1/releases/5d6219561d45635e85bf0b70/fonts/steelfish rg.ttf")
    format("truetype");
}
@font-face {
  font-family: "PoetsenOne-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/5d62163ac3e6c75246db4fd1/releases/5d6219561d45635e85bf0b70/fonts/PoetsenOne-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Fresco-Stamp";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/5d62163ac3e6c75246db4fd1/releases/5d6219561d45635e85bf0b70/fonts/Fresco Stamp.ttf")
    format("truetype");
}
@font-face {
  font-family: "LouisGeorgeCafe-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/5d62163ac3e6c75246db4fd1/releases/5d6219561d45635e85bf0b70/fonts/Louis George Cafe Bold.ttf")
    format("truetype");
}

:root {
    --bg-color: black;
    --font-color: rgba(242, 223, 199, 1);
    --font-color-grey: rgba(255, 255, 255, 0);
    --red: rgba(192, 61, 43, 1);
}

html {
    background-color: var(--bg-color);
}
.container {
    background-color: var(--bg-color);
}

/*hkashdkasjhdkashd*/

body {
    background-color: var(--bg-color);
    margin: 0;
}

.landing {
  width: 100%;
  min-width: 1021px;
  height: 100vh;
  min-height: 1833px;
  position: relative;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width: 100%;
}
.anima-full-height-a {
  height: 100%;
}
textarea:focus,
input:focus {
  outline: 0;
}
div {
  -webkit-text-size-adjust: none;
}
.headermeatclick {
  background-color: var(--font-color-grey);
  height: 157px;
  width: 100%;
  margin-bottom: 15px;
}
.headermeatclick .group2 {
  background-color: var(--font-color-grey);
  top: 0;
  height: 157px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0;
}
.headermeatclick .group2 .fill5 {
  background-color: var(--font-color-grey);
  top: 0;
  height: 157px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0;
}
.headermeatclick .group {
  background-color: var(--font-color-grey);
  top: 1px;
  height: 150px;
  width: 626px;
  position: absolute;
  margin: 0;
  left: 5px;
}
.headermeatclick .group .meatclickcom {
  background-color: var(--font-color-grey);
  top: 0;
  height: 150px;
  width: 461px;
  position: absolute;
  margin: 0;
  left: -1px;
  font-family: "SteelfishRg-Regular", Helvetica, Arial, serif;
  font-size: 150px;
  color: var(--font-color);
  text-align: center;
  letter-spacing: -1.5px;
  line-height: 48px;
}
.headermeatclick .group .meatclickcom .span1 {
  line-height: 180px;
}
.headermeatclick .group .meatclickcom .span2 {
  font-size: 48px;
  letter-spacing: -0.48px;
  line-height: 57px;
}
.headermeatclick .group .group5 {
  background-color: var(--font-color-grey);
  top: 11px;
  height: 133px;
  width: 114px;
  position: absolute;
  margin: 0;
  left: 512px;
}
.headermeatclick .group .group5 .fill748 {
  background-color: var(--font-color-grey);
  top: 0;
  height: 133px;
  width: 114px;
  position: absolute;
  margin: 0;
  left: 0;
}
.headermeatclick .group .group5 .fill749 {
  background-color: var(--font-color-grey);
  top: 5px;
  height: 123px;
  width: 106px;
  position: absolute;
  margin: 0;
  left: 4px;
}
.headermeatclick .group .group5 .carnesembutidossuc {
  background-color: var(--font-color-grey);
  top: 18px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 15px;
  font-family: "SteelfishRg-Regular", Helvetica, Arial, serif;
  font-size: 24px;
  color: var(--font-color);
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 27px;
}
.boxqueviene {
  background-color: var(--font-color);
  height: 965px;
  width: 100%;
  margin: 0;
}
.boxqueviene .fill13 {
  background-color: var(--font-color-grey);
  top: 0;
  height: 965px;
  width: 383px;
  position: absolute;
  margin: 0;
  left: 0;
}
.boxqueviene .fill64 {
  background-color: var(--font-color-grey);
  top: 767px;
  height: 9px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 5px;
}
.boxqueviene .fill65 {
  background-color: var(--font-color-grey);
  top: 766px;
  height: 10px;
  width: 9px;
  position: absolute;
  margin: 0;
  left: 369px;
}
.boxqueviene .fill67 {
  background-color: var(--font-color-grey);
  top: 7px;
  height: 9px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 367px;
}
.boxqueviene .fill66 {
  background-color: var(--font-color-grey);
  top: 7px;
  height: 11px;
  width: 9px;
  position: absolute;
  margin: 0;
  left: 5px;
}
.boxqueviene .lamejorhamburguesa {
  background-color: var(--font-color-grey);
  top: 100%;
  height: auto;
  width: 345px;
  position: absolute;
  margin: 0;
  left: 14px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  line-height: 14px;
}
.boxqueviene .a4beyondburger {
  background-color: var(--font-color-grey);
  top: 626px;
  height: auto;
  width: 205px;
  position: absolute;
  margin: 0;
  left: 14px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  line-height: 23px;
}
.boxqueviene .a8beyondsausage {
  background-color: var(--font-color-grey);
  top: 704px;
  height: auto;
  width: 205px;
  position: absolute;
  margin: 0;
  left: 14px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: 0;
  line-height: 23px;
}
.boxqueviene .creemosquebillgat {
  background-color: var(--font-color-grey);
  top: 735px;
  height: auto;
  width: 336px;
  position: absolute;
  margin: 0;
  left: 14px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: -0px;
  line-height: 14px;
}
.boxqueviene .a3kgvegetalesparril {
  background-color: var(--font-color-grey);
  top: 783px;
  height: auto;
  width: 317px;
  position: absolute;
  margin: 0;
  left: 14px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: 0;
  line-height: 23px;
}
.boxqueviene .teentregamoslosve {
  background-color: var(--font-color-grey);
  top: 814px;
  height: auto;
  width: 311px;
  position: absolute;
  margin: 0;
  left: 14px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: -0px;
  line-height: 14px;
}
.boxqueviene .calibrecolorcobe {
  background-color: var(--font-color-grey);
  top: 162px;
  height: auto;
  width: 337px;
  position: absolute;
  margin: 0;
  left: 15px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  line-height: 14px;
}
.boxqueviene .a2kglomoliso {
  background-color: var(--font-color-grey);
  top: 135px;
  height: auto;
  width: 226px;
  position: absolute;
  margin: 0;
  left: 15px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  line-height: 23px;
}
.boxqueviene .a1kgcerdo {
  background-color: var(--font-color-grey);
  top: 203px;
  height: auto;
  width: 147px;
  position: absolute;
  margin: 0;
  left: 15px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: 0;
  line-height: 23px;
}
.boxqueviene .elsabortexturay {
  background-color: var(--font-color-grey);
  top: 229px;
  height: auto;
  width: 300px;
  position: absolute;
  margin: 0;
  left: 15px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: -0px;
  line-height: 14px;
}
.boxqueviene .a1kgpollo {
  background-color: var(--font-color-grey);
  top: 270px;
  height: auto;
  width: 147px;
  position: absolute;
  margin: 0;
  left: 15px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: 0;
  line-height: 23px;
}
.boxqueviene .alimentadosdeforma {
  background-color: var(--font-color-grey);
  top: 295px;
  height: auto;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 15px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: -0px;
  line-height: 14px;
}
.boxqueviene .a6longanizas {
  background-color: var(--font-color-grey);
  top: 339px;
  height: auto;
  width: 147px;
  position: absolute;
  margin: 0;
  left: 16px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: 0;
  line-height: 23px;
}
.boxqueviene .firmesalcortesua {
  background-color: var(--font-color-grey);
  top: 365px;
  height: auto;
  width: 344px;
  position: absolute;
  margin: 0;
  left: 16px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: rgba(26, 25, 23, 1);
  text-align: left;
  letter-spacing: -0px;
  line-height: 14px;
}
.boxqueviene .redbox46p {
  background-color: var(--font-color-grey);
  top: 92px;
  height: auto;
  width: 362px;
  position: absolute;
  margin: 0;
  left: 15px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 28px;
  color: rgba(133, 13, 13, 1);
  text-align: justify;
  line-height: 18px;
}
.boxqueviene .redbox46p .span1 {
  line-height: 32px;
}
.boxqueviene .redbox46p .span2 {
  font-size: 18px;
  line-height: 21px;
}
.boxqueviene .greenbox46p {
  background-color: var(--font-color-grey);
  top: 582px;
  height: auto;
  width: 362px;
  position: absolute;
  margin: 0;
  left: 15px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 28px;
  color: rgba(39, 85, 29, 1);
  text-align: left;
  line-height: 18px;
}
.boxqueviene .greenbox46p .span1 {
  text-align: justify;
  line-height: 32px;
}
.boxqueviene .greenbox46p .span2 {
  font-size: 18px;
  text-align: justify;
  line-height: 21px;
}
.boxqueviene .queviene {
  background-color: var(--font-color-grey);
  top: 19px;
  height: 56px;
  width: 381px;
  position: absolute;
  margin: 0;
  left: 14px;
}
.boxqueviene .fill886 {
  background-color: var(--font-color-grey);
  top: 504px;
  height: 47px;
  width: 125px;
  position: absolute;
  margin: 0;
  left: 129px;
}
.boxqueviene .btnpagarred {
  background-color: var(--font-color-grey);
  top: 427px;
  height: 45px;
  width: 246px;
  position: absolute;
  margin: 0;
  left: 56px;
}
.boxqueviene .btnpagarred .rectangle {
  background-color:  var(--red);
  top: 0;
  height: 45px;
  width: 246px;
  position: absolute;
  margin: 0;
  left: 0;
}
.boxqueviene .btnpagarred .compralax59999 {
  background-color: var(--font-color-grey);
  top: 11px;
  height: auto;
  width: 236px;
  position: absolute;
  margin: 0;
  left: 6px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: var(--font-color);
  text-align: center;
  letter-spacing: 0;
  line-height: 23px;
}
.boxqueviene .btnpagargreen {
  background-color: var(--font-color-grey);
  top: 882px;
  height: 45px;
  width: 246px;
  position: absolute;
  margin: 0;
  left: 56px;
}
.boxqueviene .btnpagargreen .rectangle {
  background-color: rgba(40, 86, 29, 1);
  top: 0;
  height: 45px;
  width: 246px;
  position: absolute;
  margin: 0;
  left: 0;
}
.boxqueviene .btnpagargreen .compralax64990 {
  background-color: var(--font-color-grey);
  top: 11px;
  height: auto;
  width: 236px;
  position: absolute;
  margin: 0;
  left: 6px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: var(--font-color);
  text-align: center;
  letter-spacing: 0;
  line-height: 23px;
}
.landing .inputemail {
  background-color: var(--font-color-grey);
  top: 1297px;
  height: 45px;
  width: 369px;
  position: absolute;
  margin: 0;
  left: 437px;
}
.landing .inputemail .rectangle {
  background-color: rgba(243, 223, 199, 1);
  top: 0;
  height: 45px;
  width: 369px;
  position: absolute;
  margin: 0;
  left: 0;
}
.landing .inputemail .texttucorreocom {
  background-color: var(--font-color-grey);
  top: 7px;
  height: 30px;
  width: 353px;
  position: absolute;
  margin: 0;
  left: 10px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  letter-spacing: 0;
  line-height: 23px;
  border: 0;
  resize: none;
  padding: 0;
}
.landing .inputemail .texttucorreocom::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.boxnewsletter {
  background-color: var(--font-color-grey);
  top: 1192px;
  height: 194px;
  width: 581px;
  position: absolute;
  margin: 0;
  left: 417px;
}
.boxnewsletter .rectangle {
  background-color: var(--font-color-grey);
  top: 0;
  height: 194px;
  box-sizing: border-box;
  width: 581px;
  position: absolute;
  margin: 0;
  left: 0;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(243, 223, 199, 1);
}
.boxnewsletter .btnsubscribir {
  background-color: var(--font-color-grey);
  top: 105px;
  height: 45px;
  width: 151px;
  position: absolute;
  margin: 0;
  left: 397px;
}
.boxnewsletter .btnsubscribir .rectangle1 {
  background-color: rgba(40, 86, 29, 1);
  top: 0;
  height: 45px;
  width: 151px;
  position: absolute;
  margin: 0;
  left: 0;
}
.boxnewsletter .btnsubscribir .quiero {
  background-color: var(--font-color-grey);
  top: 11px;
  height: auto;
  width: 146px;
  position: absolute;
  margin: 0;
  left: 3px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: var(--font-color);
  text-align: center;
  letter-spacing: 0;
  line-height: 23px;
}
.boxnewsletter .enteratedepromocio {
  background-color: var(--font-color-grey);
  top: 71px;
  height: auto;
  width: 489px;
  position: absolute;
  margin: 0;
  left: 20px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: var(--font-color);
  text-align: left;
  line-height: 14px;
}
.boxnewsletter .newslettermeatclick {
  background-color: var(--font-color-grey);
  top: 25px;
  height: 52px;
  width: 528px;
  position: absolute;
  margin: 0;
  left: 19px;
}
.boxintro {
  background-color: var(--font-color-grey);
  height: 352px;
  width: 100%;
  margin-bottom: 15px;
}
.boxintro .rectangle {
  background-color: var(--font-color-grey);
  top: 0;
  height: 352px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(243, 223, 199, 1);
}
.boxintro .fill477 {
  background-color: var(--font-color-grey);
  top: 9px;
  height: 11px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 9px;
}
.boxintro .fill478 {
  background-color: var(--font-color-grey);
  top: 9px;
  height: 11px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 638px;
}
.boxintro .fill479 {
  background-color: var(--font-color-grey);
  top: 332px;
  height: 11px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 10px;
}
.boxintro .fill480 {
  background-color: var(--font-color-grey);
  top: 332px;
  height: 11px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 639px;
}
.boxintro .conproductosparal {
  background-color: var(--font-color-grey);
  top: 86px;
  height: auto;
  width: 404px;
  position: absolute;
  margin: 0;
  right:50px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 18px;
  color: var(--font-color);
  text-align: right;
  line-height: 22px;
}
.boxintro .unacaja {
  background-color: var(--font-color-grey);
  top: 26px;
  height: 56px;
  width: 210px;
  position: absolute;
  margin: 0;
  right: 50px;
}
.boxintro .ilustracion1 {
  background-color: var(--font-color-grey);
  top: 9px;
  height: 334px;
  width: 370px;
  position: absolute;
  margin: 0;
  left: 10px;
}
.boxliquidos {
  background-color: var(--font-color-grey);
  height: 307px;
  width: 100%;
  margin: 0;
}
.boxliquidos .wellitlayoris {
  background-color: var(--font-color-grey);
  top: 185px;
  height: auto;
  width: 93px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: var(--font-color);
  text-align: left;
  letter-spacing: -0px;
  line-height: 14px;
}
.boxliquidos .a3000 {
  background-color: var(--font-color-grey);
  top: 181px;
  height: auto;
  width: 47px;
  position: absolute;
  margin: 0;
  left: 94px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  color: var(--font-color);
  text-align: left;
  line-height: 17px;
}
.boxliquidos .urollitlanorisutayatat {
  background-color: var(--font-color-grey);
  top: 238px;
  height: auto;
  width: 162px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: var(--font-color);
  text-align: left;
  line-height: 14px;
}
.boxliquidos .puedesescojerdos {
  background-color: var(--font-color-grey);
  top: 54px;
  height: auto;
  width: 217px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: var(--font-color);
  text-align: left;
  line-height: 14px;
}
.boxliquidos .a30001 {
  background-color: var(--font-color-grey);
  top: 234px;
  height: auto;
  width: 47px;
  position: absolute;
  margin: 0;
  left: 162px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  color: var(--font-color);
  text-align: left;
  line-height: 17px;
}
.boxliquidos .cervezakross1lts {
  background-color: var(--font-color-grey);
  top: 211px;
  height: auto;
  width: 217px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: var(--font-color);
  text-align: left;
  line-height: 23px;
}
.boxliquidos .liquidos {
  background-color: var(--font-color-grey);
  top: 80px;
  height: 93px;
  width: 265px;
  position: absolute;
  margin: 0;
  left: 0;
}
.boxliquidos .bebidaccu3lts {
  background-color: var(--font-color-grey);
  top: 158px;
  height: auto;
  width: 186px;
  position: absolute;
  margin: 0;
  left: 0;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: var(--font-color);
  text-align: left;
  letter-spacing: -0px;
  line-height: 23px;
}
.boxliquidos .fill734 {
  background-color: var(--font-color-grey);
  top: 304px;
  height: 3px;
  width: 2px;
  position: absolute;
  margin: 0;
  left: 190px;
}
.boxliquidos .fill735 {
  background-color: var(--font-color-grey);
  top: 239px;
  height: 1px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 191px;
}
.boxliquidos .fill886 {
  background-color: var(--font-color-grey);
  top: 0;
  height: 47px;
  width: 125px;
  margin: 0;
  left: 4px;
}
.boxveggies {
  background-color: var(--font-color-grey);
  height: 315px;
  margin: 10px;
}
.boxveggies .a000 {
  background-color: var(--font-color-grey);
  top: 240px;
  height: auto;
  width: 47px;
  position: absolute;
  margin: 0;
  left: 168px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 14.01px;
  color: var(--font-color);
  text-align: left;
  line-height: 17px;
}
.boxveggies .papasmagallanicas {
  background-color: var(--font-color-grey);
  top: 110px;
  height: auto;
  width: 234px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: var(--font-color);
  text-align: left;
  letter-spacing: 0;
  line-height: 23px;
}
.boxveggies .mollitlaboriscupidat {
  background-color: var(--font-color-grey);
  top: 138px;
  height: auto;
  width: 145px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: var(--font-color);
  text-align: left;
  line-height: 14px;
}
.boxveggies .a0001 {
  background-color: var(--font-color-grey);
  top: 134px;
  height: auto;
  width: 47px;
  position: absolute;
  margin: 0;
  left: 146px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  color: var(--font-color);
  text-align: left;
  line-height: 17px;
}
.boxveggies .dolorecupidatatoityue {
  background-color: var(--font-color-grey);
  top: 190px;
  height: auto;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.64px;
  color: var(--font-color);
  text-align: left;
  line-height: 14px;
}
.boxveggies .a0002 {
  background-color: var(--font-color-grey);
  top: 187px;
  height: auto;
  width: 47px;
  position: absolute;
  margin: 0;
  left: 163px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 14.01px;
  color: var(--font-color);
  text-align: left;
  line-height: 17px;
}
.boxveggies .cebollascoloradas {
  background-color: var(--font-color-grey);
  top: 163px;
  height: auto;
  width: 234px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.75px;
  color: var(--font-color);
  text-align: left;
  line-height: 23px;
}
.boxveggies .zapalloitaliano {
  background-color: var(--font-color-grey);
  top: 216px;
  height: auto;
  width: 192px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.75px;
  color: var(--font-color);
  text-align: left;
  line-height: 23px;
}
.boxveggies .mollitlaboriscupidatatu {
  background-color: var(--font-color-grey);
  top: 243px;
  height: auto;
  width: 167px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.64px;
  color: var(--font-color);
  text-align: left;
  line-height: 14px;
}
.boxveggies .millitlas {
  background-color: var(--font-color-grey);
  top: 301px;
  height: auto;
  width: 60px;
  position: absolute;
  margin: 0;
  left: 2px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: var(--font-color);
  text-align: left;
  line-height: 14px;
}
.boxveggies .a0003 {
  background-color: var(--font-color-grey);
  top: 298px;
  height: auto;
  width: 47px;
  position: absolute;
  margin: 0;
  left: 61px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  color: var(--font-color);
  text-align: left;
  line-height: 17px;
}
.boxveggies .champi321ones {
  background-color: var(--font-color-grey);
  top: 270px;
  height: auto;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 2px;
  font-family: "LouisGeorgeCafe-Bold", Helvetica, Arial, serif;
  font-size: 19.73px;
  color: var(--font-color);
  text-align: left;
  letter-spacing: -0px;
  line-height: 23px;
}
.boxveggies .todaslascajasvien {
  background-color: var(--font-color-grey);
  top: 0;
  height: auto;
  width: 145px;
  position: absolute;
  margin: 0;
  left: 1px;
  font-family: "PoetsenOne-Regular", Helvetica, Arial, serif;
  font-size: 11.62px;
  color: var(--font-color);
  text-align: left;
  line-height: 14px;
}
.boxveggies .veggies {
  background-color: var(--font-color-grey);
  top: 30px;
  height: 93px;
  width: 196px;
  position: absolute;
  margin: 0;
  left: 0;
}
.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anima-valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
